h1 {

color: rgb(248, 163, 213);
text-align: center;

}

#teste1 {

  color: rgb(226, 194, 255);

}

.teste2 {

background-color: blanchedalmond;

}

h2 {

color: #411223;

}
  
h5 {

color: rgb(169, 221, 255)

}
