
header {
    background-color: #ab8db4; /* Define a cor de fundo do cabeçalho */
    color: white; /* Define a cor do texto no cabeçalho */
    padding: 20px ; /* Adiciona padding ao cabeçalho */
}

body {
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o padding padrão */
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte padrão */
    background-color: #f4f4f4; /* Define a cor de fundo */
}

nav ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding da lista */
    text-align: center; /* Centraliza o texto da lista */
}

nav ul li {
    display: inline; /* Exibe os itens da lista em linha */
    margin: 0 20px; /* Adiciona margem horizontal entre os itens */
}

nav ul li a {
    color: white; /* Define a cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold; /* Define o texto dos links como negrito */
}

.carousel {
    margin-top: 80px; 
    padding: 20px;
    text-align: center;
}


.navebar-header {

    margin: 10px ;
}