



header {
    background-color:#003366 ; /* Define a cor de fundo do cabeçalho */
    color: white; /* Define a cor do texto no cabeçalho */
    padding : 10px ; /* Adiciona padding ao cabeçalho */
}

body {
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o padding padrão */
    background-color: #f4f4f4; /* Define a cor de fundo */    
    font-family: "Kanit", sans-serif;
  font-style: normal;
}
nav ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding da lista */
    text-align: left; /* Centraliza o texto da lista */
}

nav ul li {
    display: inline; /* Exibe os itens da lista em linha */
    margin: 0 20px; /* Adiciona margem horizontal entre os itens */
}

nav ul li a {
    color: white; /* Define a cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold; /* Define o texto dos links como negrito */
}

.carousel {
    margin-top: 80px; 
    padding: 20px;
    text-align: center;
}


.navebar-header {


    margin: 11px ;
}

.carrousel-center {

    display: flex;
    align-items: center;

}

.backgroundcolor {

 background-color: #222020
}

.margemlogo {

    margin-left: 130px;
}

.carrouselmargem {

    margin-top: 0;
}


.cor-card {

    background-color:#800020  ;
    color: #ffffff;
    margin: 15px;
}

.logofox {

    margin-left: 350px;
    width:90px;
}
